.logo {
  display: inline-block;
}

.fullLogo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-sm);
}

.mark {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.bar {
  background-color: var(--color-gunmetal);
  height: 0.4rem;
  border-radius: 1px;
}

.bar1 {
  width: 3.5rem;
}

.bar2 {
  width: 2.5rem;
}

.bar3 {
  width: 3.5rem;
}

.bar4 {
  width: 3.5rem;
}

.wordmark {
  font-family: var(--font-serif);
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--color-gunmetal);
  letter-spacing: -0.02em;
}

/* Sizes */
.small .bar {
  height: 0.25rem;
}

.small .bar1 {
  width: 2rem;
}

.small .bar2 {
  width: 1.5rem;
}

.small .bar3 {
  width: 2rem;
}

.small .bar4 {
  width: 2rem;
}

.small .wordmark {
  font-size: 1rem;
}

.small .mark {
  gap: 0.2rem;
}

.medium .bar {
  height: 0.4rem;
}

.medium .bar1 {
  width: 3.5rem;
}

.medium .bar2 {
  width: 2.5rem;
}

.medium .bar3 {
  width: 3.5rem;
}

.medium .bar4 {
  width: 3.5rem;
}

.medium .wordmark {
  font-size: 1.25rem;
}

.medium .mark {
  gap: 0.3rem;
}

.large .bar {
  height: 0.5rem;
}

.large .bar1 {
  width: 5rem;
}

.large .bar2 {
  width: 3.5rem;
}

.large .bar3 {
  width: 5rem;
}

.large .bar4 {
  width: 5rem;
}

.large .wordmark {
  font-size: 1.5rem;
}

.large .mark {
  gap: 0.4rem;
}
